.button {
  height: 30px;
  cursor: pointer;
  transition: background-color 0.4s;
  border: 1px solid white;
  border-radius: 10px;
  width: 100px;
}
.button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(26, 92, 113);
}
.main input {
  width: 400px;
  margin: 10px;
}
@media (max-width: 600px) {
  .main input {
    width: 240px;
    align-self: center;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .button {
    margin: 10px;
    width: 240px;
    align-self: center;
  }
}
